<h2>Figure Name</h2>
<%=@figure.name%>
<h2>Landmarks</h2>
<%@figure.landmarks.each do |landmark|%>
<%=landmark.name %>
<% end %>

<form action = "/figures/<%=@figure.id %>" method = "post">

<h2 style = "display: block-inline; width: 200px">Figure Name</h2><input name = "figure[name]" id = "figure_name" type = "text"><br>
<h2 style = "display: block-inline; width: 200px">New Landmark</h2><input name = "landmark[name]" id = "new_landmark" type = "text"><br><br>
<h2>Titles</h2>
<% Title.all.each do |title| %>
<input type = "checkbox" name = "figure[title_ids][]" id = "title_<%=title.id %>" value = "<%=title.id %>" <%='checked' if @figure.titles.include?(title)%> ><%=title.name%></input><br>
<% end %>
<input type = "submit" id = "Edit Figure" value = "Edit Figure" style = "color: blue; border: 0; background-color: orange; font-size: 1.5em;">
</form>
